header {
    background-color: #383D58;
    color: rgb(255, 255, 255);
    }
    .cabecalho {
        background-color: #383D58;
        color: rgb(161, 86, 86);
        display: flex;
        justify-content: space-around;
    }
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        padding: 0 24px;
        justify-content: space-around;
        font-size: 24px;
    
    }
    